
.todo {
    width: 90%;
    text-align: start;
    color: #fff;
    padding: 5px;
    margin-bottom: 2px;
}


.complete {
    text-decoration: line-through;
    text-decoration-color: black;
    text-decoration-style: solid;
}


span {
    margin: 10px;
}

